#define TCOMBO(NAME, BINDINGS, INNER_BINDINGS, OUTER_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <LEFT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_li_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lo_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <RIGHT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ri_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ro_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS ROT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_rb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT ROT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <LOT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <ROT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_bspc { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp BSPC>; \
	key-positions = <LIT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_bspc { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp BSPC>; \
	key-positions = <RIT>; \
	layers = <COMBO_LAYERS>; \
};

TCOMBO(R,      &kp R,      &kp GT,     &kp LS(R), &kp PSCRN,    TLP,         TRP)
TCOMBO(S,      &kp S,      &kp RBRC,   &kp LS(S), &kp C_BRI_UP, TLR,         TRR)
TCOMBO(N,      &kp N,      &kp RBKT,   &kp LS(N), &kp C_BRI_DN, TLM,         TRM)
TCOMBO(I,      &kp I,      &kp RPAR,   &kp LS(I), &kp C_PP,     TLI,         TRI)
TCOMBO(A,      &kp A,      &kp LT,     &kp LS(A), &kp C_NEXT,   BLP,         BRP)
TCOMBO(O,      &kp O,      &kp LBRC,   &kp LS(O), &kp C_VOL_UP, BLR,         BRR)
TCOMBO(T,      &kp T,      &kp LBKT,   &kp LS(T), &kp C_VOL_DN, BLM,         BRM)
TCOMBO(E,      &kp E,      &kp LPAR,   &kp LS(E), &kp C_PREV,   BLI,         BRI)
TCOMBO(C,      &kp C,      &kp N1,     &kp LS(C), &kp F1,       BLR BLI,     BRR BRI)
TCOMBO(U,      &kp U,      &kp N2,     &kp LS(U), &kp F2,       BLR BLM,     BRR BRM)
TCOMBO(Q,      &kp Q,      &kp N3,     &kp LS(Q), &kp F3,       BLP BLM,     BRP BRM)
TCOMBO(L,      &kp L,      &kp N4,     &kp LS(L), &kp F4,       BLP BLR,     BRP BRR)
TCOMBO(Y,      &kp Y,      &kp N5,     &kp LS(Y), &kp F5,       TLM TLI,     TRM TRI)
TCOMBO(F,      &kp F,      &kp N6,     &kp LS(F), &kp F6,       TLR TLI,     TRR TRI)
TCOMBO(P,      &kp P,      &kp N7,     &kp LS(P), &kp F7,       TLR TLM,     TRR TRM)
TCOMBO(Z,      &kp Z,      &kp N8,     &kp LS(Z), &kp F8,       TLP TLM,     TRP TRM)
TCOMBO(B,      &kp B,      &kp N9,     &kp LS(B), &kp F9,       TLP TLR,     TRP TRR)
TCOMBO(H,      &kp H,      &kp N0,     &kp LS(H), &kp F10,      BLM BLI,     BRM BRI)
TCOMBO(D,      &kp D,      &kp AT,     &kp LS(D), &kp F11,      BLP BLI,     BRP BRI)
TCOMBO(G,      &kp G,      &kp HASH,   &kp LS(G), &kp F12,      TLP TLI,     TRP TRI)
TCOMBO(X,      &kp X,      &kp CARET,  &kp LS(X), &kp LC(X),    TLP BLM,     TRP BRM)
TCOMBO(K,      &kp K,      &kp PLUS,   &kp LS(K), &kp LC(C),    TLI BLR,     TRI BRR)
TCOMBO(V,      &kp V,      &kp STAR,   &kp LS(V), &kp LC(V),    TLR BLI,     TRR BRI)
TCOMBO(J,      &kp J,      &kp EQUAL,  &kp LS(J), &kp LC(Z),    TLM BLP,     TRM BRP)
TCOMBO(M,      &kp M,      &kp DOLLAR, &kp LS(M), &none,        TLP BLI,     TRP BRI)
TCOMBO(W,      &kp W,      &kp AMPS,   &kp LS(W), &none,        TLI BLP,     TRI BRP)
TCOMBO(SLASH,  &kp SLASH,  &kp PIPE,   &kp BSLH,  &none,        TLR BLM,     TRR BRM)
TCOMBO(MINUS,  &kp MINUS,  &kp PRCNT,  &kp UNDER, &none,        TLM BLR,     TRM BRR)
TCOMBO(QMARK,  &kp QMARK,  &kp CAPS,   &kp EXCL,  &none,        TLI BLM,     TRI BRM)
TCOMBO(COMMA,  &kp COMMA,  &kp TILDE,  &kp DOT,   &none,        TLM BLI,     TRM BRI)
TCOMBO(SEMI,   &kp SEMI,   &none,      &kp COLON, &none,        TLP BLR,     TRP BRR)
TCOMBO(SEMI2,  &kp SEMI,   &none,      &kp COLON, &none,        BLR TLM BLI, BRR TRM BRI)
TCOMBO(SQT,    &kp SQT,    &kp GRAVE,  &kp DQT,   &none,        TLR BLP,     TRR BRP)
TCOMBO(SQT2,   &kp SQT,    &kp GRAVE,  &kp DQT,   &none,        BLR TLM TLI, BRR TRM TRI)
TCOMBO(TAB,    &kp TAB,    &kp INS,    &kp DEL,   &bt BT_CLR,   TLR TLM TLI, TRR TRM TRI)
TCOMBO(ENTER,  &kp ENTER,  &kp LALT,   &kp ESC,   &bootloader,  BLR BLM BLI, BRR BRM BRI)
TCOMBO(LGUI,   &sk LGUI,   &kp PGUP,   &kp RIGHT, &bt BT_SEL 3, TLP BLP,     TRP BRP)
TCOMBO(LALT,   &sk LALT,   &kp HOME,   &kp UP,    &bt BT_SEL 2, TLR BLR,     TRR BRR)
TCOMBO(LCTRL,  &sk LCTRL,  &kp END,    &kp DOWN,  &bt BT_SEL 1, TLM BLM,     TRM BRM)
TCOMBO(LSHIFT, &sk LSHIFT, &kp PGDN,   &kp LEFT,  &bt BT_SEL 0, TLI BLI,     TRI BRI)
